.header__container {
  position: relative;

  .container-width;
  min-height: 80px;
}

.header__navigation {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;

  opacity: 0;
}

.header__burger {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);
  width: 20px;
  height: 14px;
}

.header__additionally-text {
  display: none;

  margin: 0;
}
