.header {
  position: relative;
}

.header__container {
  display: flex;
  justify-content: end;
  align-items: center;

  .container-width;
  min-height: 80px;
}

.header__navigation {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
}

.header__burger {
  width: 20px;
  height: 14px;
}

.header__additionally-text {
  display: none;

  margin: 0;
}
