.hero {
  margin-bottom: 40px;
}

.hero__text-container {
  background-image: url("../img/background/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;

  .container-width;
}

.hero__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @bold-text-color;
  text-align: center;

  padding: 73px 0 120px;
  margin: 0;
}

.hero__links {
  display: flex;
  flex-direction: column;

  .reset-list;
}

.hero__link {
  display: block;

  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @contrast-color;

  padding: 24px 30px 31px;

  &--interior {
    background-color: @special-color;
  }

  &--toys {
    background-color: @special-darker-color;
  }
}

.hero__link-text {
  display: inline-block;

  width: 130px;
}

@media (min-width: @tablet-container-width) {
  .hero__title {
    font-size: 43px;
    line-height: 50px;

    padding: 155px 0 372px;
  }

  .hero__links {
    flex-direction: row;

    .container-width;
  }

  .hero__link-container {
    flex-basis: 50%;
  }

  .hero__link {
    font-size: 20px;

    padding: 25px 36px 34px;
  }
}

// computer
@media (min-width: @computer-container-width) {
  .hero__title {
    font-size: 53px;
    line-height: 57px;

    padding: 158px 0 355px;
    width: 700px;
    margin: 0 auto;
  }
}
