// Для работы с компонентом нужно вставить внутрь span

.link {
  color: @bold-text-color;
  cursor: pointer;

  & > span {
    transition: opacity @animation-time;
  }

  &:hover:not(:disabled):not(&--no-active) > span {
    opacity: 0.6;
  }

  &:active:not(:disabled):not(&--no-active) > span {
    opacity: 0.3;
  }

  &:disabled > span {
    opacity: 1;
    cursor: not-allowed;
  }

  &--no-active {
    cursor: default;
  }
}
