.navigation__menu {
  position: relative;

  background-color: @contrast-color;
}

.navigation__logo {
  position: absolute;
  top: -58px;
  left: 50%;

  transform: translateX(-50%);
}

.navigation__menu-links {
  display: none;
}

.navigation__menu-links--open {
  display: flex;
  flex-direction: column;
}

.navigation__menu-link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: @bold-text-color;

  padding: 29px 0 27px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.navigation__extra-link {
  position: absolute;

  display: none;
}
