.order-form__container {
  .container-width;
}

.order-form__description {
  font-size: 13px;
  line-height: 24px;

  margin: 17px 0 29px;
}

.order-form__postscriptum {
  font-size: 14px;
  line-height: 16px;

  margin-bottom: 30px;
}

.order-form__submit {
  margin-bottom: 73px;
}

// blocks (fieldsets)
.order-form__block {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form__type {
  margin-bottom: 31px;
}

.order-form__color {
  margin-bottom: 33px;
}

.order-form__full-name {
  margin-bottom: 35px;
}

.order-form__phone {
  margin-bottom: 35px;
}

.order-form__email {
  margin-bottom: 35px;
}

.order-form__extra {
  margin-bottom: 17px;
}

// subtitles
.order-form__subtitle {
  display: block;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @special-color;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.order-form__subtitle-type {
  margin-bottom: 30px;
}

.order-form__subtitle-color {
  margin-bottom: 25px;
}

.order-form__subtitle-full-name {
  margin-bottom: 29px;
}

.order-form__subtitle-phone {
  margin-bottom: 5px;
}

.order-form__subtitle-email {
  margin-bottom: 5px;
}

.order-form__subtitle-extra {
  margin-bottom: 23px;
}

// lists
.order-form__list {
  .reset-list;
}

// labels
.order-form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: @bold-text-color;
}

.order-form__input-label {
  display: block;
}

// items
.order-form__item {
  display: flex;
  align-items: center;
}

.order-form__item-type {
  margin-bottom: 11px;
}

.order-form__item-color {
  margin-bottom: 23px;
}

.order-form__item--last {
  margin-bottom: 0;
}

// inputs
.order-form__input {
  width: 100%;
  margin-bottom: 22px;
}
