.presentation {
  margin-bottom: 58px;
}

.presentation__container {
  display: flex;
  flex-direction: column;

  border: 1px solid @border-color;
  margin: 0 @mobile-container-indent;
}

.presentation__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @bold-text-color;

  margin: 22px 0 27px 91px;
  order: -1;
}

.presentation__video-mobile {
  display: block;

  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

.presentation__footer-container {
  padding: 0 34px;
}

.presentation__text {
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  margin-bottom: 41px;
}

.presentation__button {
  margin-bottom: 33px;
  width: 100%;
}

// tablet
@media (min-width: @tablet-container-width) {
  .presentation {
    margin-bottom: 64px;
  }

  .presentation__container {
    margin: 0 @tablet-container-indent;
  }

  .presentation__video-mobile {
    margin-bottom: 41px;
  }

  .presentation__title {
    font-size: 20px;

    order: 0;
    margin: 0;
    margin-left: 107px;
    margin-bottom: 25px;
  }

  .presentation__footer-container {
    padding: 0 42px;
  }

  .presentation__text {
    font-size: 15px;
    line-height: 30px;

    margin-bottom: 41px;
  }

  .presentation__button {
    margin-bottom: 46px;
  }
}

// computer
@media (min-width: @computer-container-width) {
  .presentation {
    position: relative;

    display: flex;
    justify-content: end;

    width: 100%;
    max-width: @computer-content-width;
    margin: 0 auto;
    margin-bottom: 105px;
  }

  .presentation__container {
    width: 367px;
    padding: 96px 57px 53px 80px;
    margin: 0;
  }

  .presentation__video-mobile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 683px;
    height: 455px;
    margin: 0;
  }

  .presentation__title {
    margin: 0;
    margin-bottom: 28px;
  }

  .presentation__footer-container {
    padding: 0;
  }

  .presentation__text {
    margin-bottom: 52px;
  }

  .presentation__button {
    margin-bottom: 0;
  }
}
