.presentation__container {
  display: flex;
  flex-direction: column;

  border: 1px solid @border-color;
  margin: 0 @mobile-container-indent;
  margin-bottom: 58px;
}

.presentation__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @bold-text-color;

  margin: 22px 0 27px 91px;
  order: -1;
}

.presentation__video-mobile {
  display: block;

  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

.presentation__footer-container {
  padding: 0 34px;
}

.presentation__text {
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  margin-bottom: 41px;
}

.presentation__button {
  margin-bottom: 33px;
  width: 100%;
}
