.reviews {
  margin-bottom: 90px;
}

.reviews__container {
  .container-width;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  color: @bold-text-color;

  margin: 0;
  margin-bottom: 14px;
}

.reviews__list {
  .reset-list;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
}

.reviews__source {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @bold-text-color;
  font-style: normal;
}

.reviews__id {
  font-size: 17px;
  margin: 0;

  margin-bottom: 33px;
}

.reviews__buttons {
  display: flex;
  justify-content: space-between;

  margin-bottom: 38px;
}

.reviews__button {
  width: 50%;
  height: 52px;
}

// + button class
.reviews__writing-button {
  display: block;

  text-align: center;
}
